<h4>Balance:</h4>{{authService.getSessionData().balance}}
<h4>Public Wallet ID:</h4>{{authService.getSessionData().publicWalletId}}
<h4>Private Wallet ID:</h4>{{authService.getSessionData().privateWalletId}}
<h4>Datasets</h4>
<div *ngFor="let dataSet of dataSets">
    <mat-card style="margin: 5px;">
        <mat-card-title>Dataset</mat-card-title>
        <h4>Data:</h4>{{dataSet.data}}
        <h4>Hash:</h4>{{dataSet.hash}}
    </mat-card>

</div>
<button mat-raised-button color="primary" [routerLink]="['../patient']">Create Data</button>
