<mat-toolbar>
  <mat-toolbar-row>
    <span class="nav-title" style="margin-right: 1em;">DataMoney </span>
    <button mat-button *ngIf="authService.isLoggedIn()" [routerLink]="['/user/profile']">Profile</button>
    <button mat-button *ngIf="authService.isLoggedIn()" [routerLink]="['/offer/data']">Offer Data</button>
    <button mat-button *ngIf="authService.isLoggedIn()" [routerLink]="['/offer/market']">Marketplace</button>
    <span class="spacer"></span>
    <button mat-button *ngIf="authService.isLoggedIn()" (click)="logout()">Logout</button>
    <button mat-button *ngIf="!authService.isLoggedIn()" (click)="login()">Login</button>
  </mat-toolbar-row>
</mat-toolbar>
<div id="content">
  <router-outlet></router-outlet>
</div>
